<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>My Library</title>
</head>
<body>
    <img id="logo" src="/static/logo.png" alt="bookshelf with my library written under it">
    <div id="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h2 id="auth-warn">{{ message }}</h2>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>